In [25]:
#importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [26]:
dataset= pd.read_csv("Train.csv")
dataset.head()

   feature_1  feature_2  feature_3  feature_4  feature_5     target
0   0.293416  -0.945599  -0.421105   0.406816   0.525662 -82.154667
1  -0.836084  -0.189228  -0.776403  -1.053831   0.597997 -48.897960
2   0.236425   0.132836  -0.147723   0.699854  -0.187364  77.270371
3   0.175312   0.143194  -0.581111  -0.122107  -1.292168  -2.988581
4  -1.693011   0.542712  -2.798729  -0.686723   1.244077 -37.596722

In [27]:
X= pd.DataFrame(dataset.iloc[:,:-1])
X.head()

   feature_1  feature_2  feature_3  feature_4  feature_5
0   0.293416  -0.945599  -0.421105   0.406816   0.525662
1  -0.836084  -0.189228  -0.776403  -1.053831   0.597997
2   0.236425   0.132836  -0.147723   0.699854  -0.187364
3   0.175312   0.143194  -0.581111  -0.122107  -1.292168
4  -1.693011   0.542712  -2.798729  -0.686723   1.244077

In [28]:
y= pd.DataFrame(dataset.iloc[:,-1])
y.head()

      target
0 -82.154667
1 -48.897960
2  77.270371
3  -2.988581
4 -37.596722

In [29]:
X_train, X_test, y_train, y_test= train_test_split(X,y, test_size=0.2, random_state=5)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(1280, 5)
(320, 5)
(1280, 1)
(320, 1)

In [30]:
#building linear regression model
lr = LinearRegression().fit(X_train,y_train)

In [31]:
#displaying slope and intercept values of regression line
print(lr.coef_)
print(lr.intercept_)

[[29.76301931 91.85397651  7.92522882 44.46452188  2.18060877]]
[4.79785434]

In [32]:
test_dataframe= pd.read_csv("Test.csv")
test_dataframe.head()

   feature_1  feature_2  feature_3  feature_4  feature_5
0   1.015254   2.076209  -0.266435  -2.418088  -0.980503
1  -0.375021   0.953185   0.626719   0.704406  -0.355489
2  -1.024452   0.962991  -0.407942  -1.861274   0.455201
3  -2.489841   0.544802   0.601219  -0.607021  -1.314286
4  -0.384675  -0.833624   1.358552  -0.547932   0.411925

In [33]:
y_pred = lr.predict(test_dataframe)
y_pred = pd.DataFrame(y_pred, columns= ['Predicted'])
y_pred

      Predicted
0    113.954182
1    116.702655
2    -22.239444
3    -44.357186
4    -95.921377
5    -45.080634
6    -75.107161
7     23.233976
8    171.734974
9    172.005677
10  -105.239160
11   -21.009690
12    -3.575311
13   121.585017
14    39.983658
15    45.115170
16  -187.994150
17    22.871494
18    10.840270
19   135.101519
20    64.284680
21   -61.458719
22  -108.089077
23    -8.185624
24   -58.165349
25    12.259204
26    29.298171
27   107.504218
28    23.279055
29   -25.436325
..          ...
370 -137.427623
371  -49.762415
372  -93.469115
373    8.978218
374  -14.705314
375  -63.027824
376  -16.342519
377 -171.663074
378 -121.709986
379   44.768158
380  -37.631568
381 -156.641337
382   86.696545
383   -0.482614
384  132.075279
385  -46.455719
386    1.827501
387  172.428063
388  169.295237
389   45.935144
390  -26.571197
391   58.395880
392  110.660448
393  -36.375490
394  -67.471579
395  -81.476124
396 -184.930866
397  124.280314
398   64.008098
399   56.161083

[400 rows x 1 columns]

In [34]:
#finding error on train data
predictions_train = lr.predict(X_train)
error = mean_absolute_error(predictions_train,y_train)
print("MAE Train : ",error)

MAE Train :  16.485930147065638

In [35]:
#finding error on test data
predictions_test = lr.predict(X_test)
error = mean_absolute_error(predictions_test,y_test)
print("MAE Test : ",error)

MAE Test :  16.34344017921278